<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>InTAcT</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/css/freelancer.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">

    <link rel="apple-touch-icon" sizes="57x57" href="/static/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#page-top">InTAcT</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="page-scroll">
                    <a href="#about">About</a>
                </li>
                <li class="page-scroll">
                    <a href="#process">Process</a>
                </li>
                <li class="page-scroll">
                    <a href="#benefits">Benefits</a>
                </li>
                <li class="page-scroll">
                    <a href="#links">Resources</a>
                </li>
                <li class="page-scroll">
                    <a href="#team">Team</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Home Section-->
<section class="success" id="home">
        <div class="container">
            <div class="row">
                <img class="img-responsive img-centered" src="/static/img/IntactLogo_Long.svg" alt="Logo" align="middle" style="max-width: 50%">
                <hr class="star-primary">
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p style="font-size: 2em">Strengthening City <a>Integrity</a>, <a>Transparency</a> and <a>Accountability</a> in an age of <a>Smart Governance</a></p><br>
            </div>
                    <h3 style="text-align: left">Project News and Updates:</h3>
            <div class="row row-centered">
                <div class="col-xs-12 col-sm-4 portfolio-item" style="text-align: center; padding: 5px">
                    <div class="block-alt">
                    <i class="fa fa-book fa-3x" aria-hidden="true" style="text-align: center"></i>
                        <h5>3rd October 2017:</h5>
                        <p>The <b>InTAcT Project Inception Report</b> is available <a href=#links>here</a></p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 portfolio-item" style="text-align: center; padding: 5px">
                    <div class="block-alt">
                    <i class="fa fa-clipboard fa-3x" aria-hidden="true" style="text-align: center"></i>
                        <h5>16th October 2017:</h5>
                        <p>The <b>NMBM will pilot the InTAcT City Assessment Framework from 20-22 November 2017</b>.  Results
                            will be available on this site from 30 November 2017</p>
                    </div>
                </div>
            <div class="row">
                </div>
                    <p>
                        The City Integrity Transparency, Accountability and Technology Project (InTAcT) is a CSP initiative
                        to help cities improve their governance performance, with a particular focus on land development and
                        infrastructure development. </p>
                    <p>
                        The project will provide cities with perspectives for understanding their governance challenges
                        related to land and infrastructure development, a framework for assessment and a range of tools
                        that help improve integrity, accountability and transparency performance and unlock solutions to
                        often complex problems.

                    </p>
                    <br>
                <img class="img-responsive img-centered" src="/static/img/cspbanner.jpg" alt="Logo" align="middle" style="max-width: 70%">
            </div>
        </div>

</section>

<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About the project</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="panel with-nav-pills panel-default">
            <div class="panel-heading">
                <ul class="nav nav-pills">
                    <li class="active"><a href="#tab1default" data-toggle="pill">Purpose</a></li>
                    <li><a href="#tab2default" data-toggle="tab">Approach</a></li>
                    <li><a href="#tab3default" data-toggle="tab">Participation</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1default">
                        <p>The project will enable cities to do the following:
                            <ul>
                                <li>Conduct self-assessments of their current integrity and accountability policies and
                                    practices related to land and infrastructure development.</li>
                                <li>Improve their performance through access to tools and good practices.</li>
                                <li>Support better governance through smart city solutions particularly the open government/data agenda.</li>
                                <li>Address key areas of integrity and accountability vulnerability in the urban development project cycle.</li>
                                <li>Engage in a deliberative process of learning to tackle and resolve complex community
                                    // political // administrative // inter-governmental interface challenges in the urban
                                    development decision-making process.</li>
                            </ul>
                        </p>
                    </div>
                    <div class="tab-pane" id="tab2default">
                        <p>The project approach is rooted in peer learning and self-assessment. It does not involve any
                            inspection or auditing. Formal auditing of governance performance already happens through
                            the audit process by the Office of the Auditor-General and through the variety of reporting
                            mechanisms between cities and national and provincial departments. The project will not duplicate
                            these processes in any way. It is not a new or additional form of reporting. It will also not produce
                            assessment scores that allow cities performance to be compared.
                        </p>
                        <p>The project objective is rather to help cities improve their governance performance related to land
                            and infrastructure development through internal reflection, shared learning and collaborative innovation.
                            It acknowledges that all cities have some examples of positive practice and all cities have room to improve.
                        </p>
                        <p>The project realises that the integrity, accountability and transparency challenges that a
                            city faces are often complex, contested and context-specific, and that there are not necessarily
                            simple recipes or easy answers. The project will thus also provide cities with proven approaches
                            to help clarify these challenges and generate sustainable solutions.
                        </p>
                    </div>
                    <div class="tab-pane" id="tab3default">
                        <p>All cities are invited to participate in the project. Please advise your CSP Coordinator if you wish to participate. The Coordinator will work with an official designated by the city to set up the process within the city. The designated official would also serve on a project reference group.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Process Section -->
<section class="success" id="process">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>What will be expected of cities?</h2>
                <hr class="star-primary">
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 portfolio-item" style="text-align: justify; padding: 5px">
                    <div class="block">
                        <i class="fa fa-clipboard fa-3x" aria-hidden="true" style="text-align: center"></i>
                        <h5 style="text-align: center">Participation in self-assessment</h5>
                            <p style="font-size: 16px">Once a city has agreed to participate in the programme, <b>the first
                                major activity they will engage in will be a process of integrity and accountability self-assessments</b>
                                , reviewing land and infrastructure development processes from the perspective of integrity and social accountability.
                                An assessment framework based on current global practice and aligned with South African policy and
                                legislation is being developed and will be canvassed with the cities through the project reference group.
                                <br><br>
                                The intention is that <b>these self-assessments will be done in the period November 2017 to February 2018</b> and will
                                be facilitated in each city by an independent expert provided by CSP. <b>Each assessment
                                    will take approximately three days</b>.
                                <br><br>
                                <b>Each city will nominate an assessment team</b> who will arrange the assessment programme and interview
                                and workshop a self-assessment questionnaire with various internal stakeholders including the political
                                leadership, senior management and other staff at various levels. These engagements will be used to
                                complete the assessment. <b>The outcomes will be presented to the Mayor and Municipal Manager</b> for confirmation.
                                The review team with support from the independent expert will then draft city integrity and accountability
                                improvement plans to address key challenges highlighted in the assessment and to leverage good practice
                                identified in the city.
                            </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-4 portfolio-item" style="text-align: justify; padding: 5px">
                    <div class="block">
                        <i class="fa fa-question fa-3x" aria-hidden="true" style="text-align: center"></i>
                        <h5 style="text-align: center">Smart governance questionnaire</h5>
                            <p style="font-size: 16px"><b>The project will circulate a questionnaire regarding smart governance
                                practices in the city</b> to identify the policies in place regarding smart cities and open government.
                                This survey will be the <b>basis for developing a set of smart governance tools and good practice briefs</b>.
                                This work will also be the basis for a <b>Cities Open Data Working Group</b>.
                            </p>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 portfolio-item" style="text-align: justify; padding: 5px">
                    <div class="block">
                        <i class="fa fa-wrench fa-3x" aria-hidden="true" style="text-align: center"></i>
                        <h5 style="text-align: center">Case study and tools development</h5>
                            <p style="font-size: 16px">The next phase of the project will involve <b>writing up case studies
                                and tools to support the improvement plans</b>. This will draw on good practice and innovation
                                in South African cities and elsewhere. It will also involve working with cities to explore
                                key challenges they experience in the land and infrastructure development decision-making
                                cycles and how to address these.
                            </p>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 portfolio-item" style="text-align: justify; padding: 5px">
                    <div class="block">
                        <i class="fa fa-book fa-3x" aria-hidden="true" style="text-align: center"></i>
                        <h5 style="text-align: center">Participation in learning events</h5>
                            <p style="font-size: 16px"><b>The project will culminate in inter-city learning events in February
                                and March 2018 </b> where practitioners from all participating cities will reflect on the lessons
                                and learning from the process. It is also anticipated that <b>a National Conference will be held
                                    in April 2018</b> to showcase good practice and lessons.
                            </p>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Timeframes Section -->
<section class="success" id="timeframe">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2>Project Timeframes</h2>
            <hr class="star-primary">
        </div>
  <table class="table table-bordered table-responsive">
    <thead>
      <tr>
        <th style="background-color: #f8f8f8">Milestone</th>
        <th style="background-color: #f8f8f8">Oct</th>
        <th style="background-color: #f8f8f8">Nov</th>
        <th style="background-color: #f8f8f8">Dec</th>
        <th style="background-color: #f8f8f8">Jan</th>
        <th style="background-color: #f8f8f8">Feb</th>
        <th style="background-color: #f8f8f8">Mar</th>
        <th style="background-color: #f8f8f8">Apr</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="background-color: #f8f8f8">City Consultation</td>
        <td style="background-color: #9a2c36"></td>
        <td style="background-color: #9a2c36"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td style="background-color: #f8f8f8">City Assessment & Improvement Plans</td>
        <td></td>
        <td style="background-color: #9a2c36"></td>
        <td style="background-color: #9a2c36"></td>
        <td style="background-color: #9a2c36"></td>
        <td style="background-color: #9a2c36"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td style="background-color: #f8f8f8">Case Studies & Tools Development</td>
        <td></td>
        <td></td>
        <td style="background-color: #9a2c36"></td>
        <td style="background-color: #9a2c36"></td>
        <td style="background-color: #9a2c36"></td>
        <td style="background-color: #9a2c36"></td>
        <td></td>
      </tr>
      <tr>
        <td style="background-color: #f8f8f8">Learning Events</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td style="background-color: #9a2c36"></td>
        <td style="background-color: #9a2c36"></td>
        <td></td>
      </tr>
      <tr>
        <td style="background-color: #f8f8f8">National Conference</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td style="background-color: #9a2c36"></td>
      </tr>
    </tbody>
  </table>
</div>

</section>

<!-- Benefits Section -->
<section class="success" id="benefits">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Benefits</h2>
                <hr class="star-primary">
            </div>
            <div class="col-lg-12 text-" style="text-align: center">
                <p>Participating cities will be able to benefit from a number of outcomes of the project:</p>
            </div>
        </div>
        <div class="row row-centered">
                    <div class="col-xs-12 col-sm-4 portfolio-item" style="text-align: center; padding: 5px">
                        <div class="block-alt">
                        <i class="fa fa-binoculars fa-3x" aria-hidden="true" style="text-align: center"></i>
                            <p><b>A facilitated opportunity</b> for reflection and identification of good practice and areas of
                            improvement</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 portfolio-item" style="text-align: center; padding: 5px">
                        <div class="block-alt">
                        <i class="fa fa-users fa-3x" aria-hidden="true" style="text-align: center"></i>
                            <p>City integrity and accountability <b>improvement plans to guide future actions and interactions</b>
                            with local stakeholders</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 portfolio-item" style="text-align: center; padding: 5px">
                        <div class="block-alt">
                        <i class="fa fa-globe fa-3x" aria-hidden="true" style="text-align: center"></i>
                        <p>Access to integrity, transparency and social accountability tools and good practice
                            examples through an <b>online repository</b></p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 portfolio-item">
                        <p>
                            But there are other benefits as well, which are at the level of outcomes. <b>High levels of
                            public integrity, social accountability and transparency establish city legitimacy</b> and produce
                            a relationship of trust and confidence with citizens and stakeholders. They facilitate <b>improved
                            and more accountable service delivery.</b> They promote <b>social development and social cohesion</b> and
                            contribute to reduced levels of conflict and dissatisfaction. They are effective <b>drivers of
                            investment and improved economic performance</b>.
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-12 portfolio-item">
                        <h3>Project Governance</h3>
                        <p>
                            The project is overseen by a Steering Committee comprising National Treasury, the Department of
                            Cooperative Governance (COGTA), the South African Local Government Association (SALGA), the
                            Department of Planning, Monitoring and Evaluation (DPME) and the South African Cities Network
                            (SACN) and a Reference Group which also includes all participating cities.
                        </p>
                    </div>
            </div>
    </div>
</section>

<!-- Links Section -->
<section class="success" id="links">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Project Resources</h2>
                <hr class="star-primary">
            </div>
            <div class="col-lg-12 text-">
                <p>You can find the existing project documents here:
                            <ul>
                                <li><a href="https://drive.google.com/open?id=0BxexUuCYGxQ7cDc3ekg4djg4RzRuNmlmQjZudlhMSDlqNnVv" target="_blank">Inception Report</a></li>
                            </ul>
                        </p>
            </div>
        </div>
    </div>
</section>

<!-- Team Section -->
<section class="success" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Team</h2>
                <hr class="star-primary">
            </div>
            <div class="col-lg-12 text-" style="text-align: center">
                <div class="block">
                    <a href="https://csp.treasury.gov.za/Pages/default.aspx" target="_blank"><img class="img-responsive img-centered" src="/static/img/csplogo.png" alt="Logo" align="middle" style="max-width: 60%"></a><br>
                    <p>The <a href="https://csp.treasury.gov.za/Pages/default.aspx" target="_blank">Cities Support Programme</a>, an
                        initiative of National Treasury, works with national government departments to shift policy in a way that makes it easier for cities
                        to work more efficiently; and at the same time working with cities to ensure economic growth and a reduction
                        in poverty.</p>
                </div>
                <p>This project is being led by Isandla Institute, in collaboration with Strategies for Change.
                    They have assembled a team of professionals with deep insight and extensive experience to  conceptualise
                    and implement this project. Associate organisations include Open Data Durban and NM & Associates</p>
                <br>
            </div>
        </div>
        <div class="row" align="center" style="vertical-align: middle">
            <div class="col-xs-12 col-md-3 portfolio-item" style="text-align: justify; padding: 5px">
                <a href="http://isandla.org.za/" target="_blank"><img class="img-responsive img-centered" src="/static/img/isandlalogo.png" alt="Logo" align="middle" style="max-height: 76px"></a><br>
            </div>
            <div class="col-xs-12 col-md-3 portfolio-item" style="text-align: justify; padding: 5px">
                <img class="img-responsive img-centered" src="/static/img/sfclogo.png" alt="Logo" align="middle" style="max-height: 76px"><br>
            </div>
            <div class="col-xs-12 col-md-3 portfolio-item" style="text-align: justify; padding: 5px">
                <a href="https://opendata.durban/" target="_blank"><img class="img-responsive img-centered" src="/static/img/oddlogo.svg" alt="Logo" align="middle" style="max-height: 76px"></a><br>
            </div>
            <div class="col-xs-12 col-md-3 portfolio-item" style="text-align: justify; padding: 5px">
                <a href="http://www.nmassociates.co.za/" target="_blank"><img class="img-responsive img-centered" src="/static/img/nmlogo.png" alt="Logo" align="middle" style="max-height: 76px"></a><br>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <p>Queries about the project? Email us at <a href="mailto:info@intact.org.za">info@intact.org.za</a></p>
            </div>
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>CSP Address</h3>
                    <p>3rd Floor<br>40 Church Square<br>Pretoria<br>0002</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Around the Web</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/" target="_blank"
                               class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank"
                               class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>About CSP</h3>
                    <p>Web: <a href="https://csp.treasury.gov.za/" target="_blank">www.csp.treasury.gov.za</a><br>Email: <a
                            href="mailto:cspfeedback@treasury.gov.za">cspfeedback@treasury.gov.za</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <!--<div class="col-lg-12" style="color: #fff">-->
                    <!--Built by <a href="https://opendata.durban" target="_blank">Open Data Durban</a>-->
                    <!--<br>-->
                    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
                <!--</div>-->
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- jQuery -->
<script src="/static/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/static/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="/static/js/classie.js"></script>
<script src="/static/js/cbpAnimatedHeader.js"></script>

<!-- Contact Form JavaScript -->
<script src="/static/js/jqBootstrapValidation.js"></script>
<script src="/static/js/contact_me.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/static/js/freelancer.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/static/js/google-sheet.js"></script>
</body>

</html>
