<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>InTAcT</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/css/freelancer.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#page-top">Intact</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="page-scroll">
                    <a href="#about">About</a>
                </li>
                <li class="page-scroll">
                    <a href="#process">Process</a>
                </li>
                <li class="page-scroll">
                    <a href="#benefits">Benefits</a>
                </li>
                <li class="page-scroll">
                <a href="#tools">Tools</a>
                </li>
                <li class="page-scroll">
                    <a href="#team">Team</a>
                </li>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Home Section-->
<section class="success" id="home">
        <div class="container">
            <div class="row">
                <img class="img-responsive img-centered" src="/static/img/IntactLogo_Long.svg" alt="Logo" align="middle" style="max-width: 50%">
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <hr class="star-primary">
                </div>
                <p style="text-align: left; font-size: 2em">Strengthening City <a>Integrity</a>, <a>Transparency</a> and <a>Accountability</a> in an age of <a>Smart Governance</a></p>
                <br>
                <p>
                    The City Integrity Transparency, Accountability and Technology Project (InTAcT) is a CSP initiative to help cities improve their governance performance.
                    The project will provide cities with perspectives for understanding their governance challenges, a framework for assessment and a range of tools that help improve integrity, accountability and transparency performance and unlock solutions to often complex problems.

                </p>
                <br>
                <img class="img-responsive img-centered" src="/static/img/cspbanner.jpg" alt="Logo" align="middle">
            </div>
        </div>
</section>

<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About the project</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="panel with-nav-pills panel-default">
            <div class="panel-heading">
                <ul class="nav nav-pills">
                    <li class="active"><a href="#tab1default" data-toggle="pill">Purpose</a></li>
                    <li><a href="#tab2default" data-toggle="tab">Approach</a></li>
                    <li><a href="#tab3default" data-toggle="tab">Participation</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1default">
                        <p>The project will enable cities to do the following:
                            <ul>
                                <li>Conduct self-assessments of their current integrity and accountability policies and practices.</li>
                                <li>Improve their performance through access to tools and good practices.</li>
                                <li>Support better governance through smart city solutions particularly the open government/data agenda.</li>
                                <li>Address key areas of integrity and accountability vulnerability in the urban development project cycle.</li>
                                <li>Engage in a deliberative process of learning to tackle and resolve complex community // political // administrative // inter-governmental interface challenges in the urban development decision-making process.</li>
                            </ul>
                        </p>
                    </div>
                    <div class="tab-pane" id="tab2default">
                        <p>The project approach is rooted in peer learning and self-assessment. It does not involve any inspection or auditing. Formal auditing of governance performance already happens through the audit process by the Office of the Auditor-General and through the variety of reporting mechanisms between cities and national and provincial departments. The project will not duplicate these processes in any way. It is not a new or additional form of reporting. It will also not produce assessment scores that allow cities performance to be compared.
                            <br><br>
                            The project objective is rather to help cities improve their governance performance through internal reflection, shared learning and collaborative innovation. It acknowledges that all cities have some examples of positive practice and all cities have room to improve.
                            <br><br>
                            The project realises that the integrity, accountability and transparency challenges that a city faces are often complex, contested and context-specific, and that there are not necessarily simple recipes or easy answers. The project will thus also provide cities with proven approaches to help clarify these challenges and generate sustainable solutions.
                        </p>
                    </div>
                    <div class="tab-pane" id="tab3default">
                        <p>All cities are invited to participate in the project. Please advise your CSP Coordinator if you wish to participate. The Coordinator will work with an official designated by the city to set up the process within the city. The designated official would also serve on a project reference group.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Process Section -->
<section class="alt" id="process">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>What will be expected of cities?</h2>
                <hr class="star-primary">
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 portfolio-item" style="text-align: justify; padding: 5px">
                    <div class="block">
                        <i class="fa fa-clipboard fa-3x" aria-hidden="true" style="text-align: center"></i>
                        <h5 style="text-align: center">Participation in self-assessment</h5>
                            <p style="font-size: 16px">Once a city has agreed to participate in the programme, the first major activity they will engage in will be a process of integrity and accountability self-assessments. An assessment framework based on current global practice and aligned with South African policy and legislation is being developed and will be canvassed with the cities through the project reference group.
                                <br><br>
                                The intention is that these self-assessments will be done in October and November 2017 and will be facilitated in each city by an independent expert provided by CSP. Each assessment will take approximately three days.
                                <br><br>
                                Each city will nominate an assessment team who will arrange the assessment programme and interview and workshop a self-assessment questionnaire with various internal stakeholders including the political leadership, senior management and other staff at various levels. These engagements will be used to complete the assessment. The outcomes will be presented to the Mayor and Municipal Manager for confirmation. The review team with support from the independent expert will then draft city integrity and accountability improvement plans to address key challenges highlighted in the assessment and to leverage good practice identified in the city.
                            </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-4 portfolio-item" style="text-align: justify; padding: 5px">
                    <div class="block">
                        <i class="fa fa-question fa-3x" aria-hidden="true" style="text-align: center"></i>
                        <h5 style="text-align: center">Smart governance questionnaire</h5>
                            <p style="font-size: 16px">The project will circulate a questionnaire regarding smart governance practices in the city to identify the policies in place regarding smart cities and open government. This survey will be the basis for developing a set of smart governance tools and good practice briefs. This work will also be the basis for a Cities Open Data Working Group.
                            </p>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 portfolio-item" style="text-align: justify; padding: 5px">
                    <div class="block">
                        <i class="fa fa-wrench fa-3x" aria-hidden="true" style="text-align: center"></i>
                        <h5 style="text-align: center">Case study and tools development</h5>
                            <p style="font-size: 16px">The next phase of the project will involve writing up case studies and tools to support the improvement plans. This will draw on good practice and innovation in South African cities and elsewhere. It will also involve working with cities to explore key challenges they experience in the urban development decision-making cycle and how to address these.
                            </p>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 portfolio-item" style="text-align: justify; padding: 5px">
                    <div class="block">
                        <i class="fa fa-book fa-3x" aria-hidden="true" style="text-align: center"></i>
                        <h5 style="text-align: center">Participation in learning events</h5>
                            <p style="font-size: 16px">The project will culminate in inter-city learning events in February and March 2018 where practitioners from all participating cities will reflect on the lessons and learning from the process. It is also anticipated that a National Conference will be held in April 2018 to showcase good practice and lessons.
                            </p>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Benefits Section -->

<section class="success" id="benefits">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Benefits of participation</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row row-centered">
                    <div class="col-xs-12 col-sm-3 portfolio-item" style="text-align: center; padding: 5px">
                        <i class="fa fa-users fa-3x" aria-hidden="true" style="text-align: center"></i>
                        <h5 style="font-style: italic">Social Impact</h5>
                            <p style="font-size: 16px">Projects will be judged on the extent to which they can demonstrate how
                                they would have a concrete social impact in relation to the challenge problem. Projects will
                                need to:
                                <ul style="font-size: 16px">
                                    <li style="text-align: left">Be able to give an account of the likely impact on the specific city questions (or another
                                        need/ opportunity identified in the city); and
                                    </li>
                                    <li style="text-align: left">Ideally gather data openly to demonstrate the analysis, story or application making an
                                        impact
                                    </li>
                                </ul>
                            </p>
                    </div>
                    <div class="col-xs-12 col-sm-3 portfolio-item" style="text-align: center; padding: 5px">
                        <i class="fa fa-usd fa-3x" aria-hidden="true" style="text-align: center"></i>
                        <h5 style="font-style: italic">Market & Sustainability</h5>
                            <p style="font-size: 16px">Projects will be judged on how well they have tailored their product or
                                service to a potential market and how well they have understood the opportunities in this market
                                (whether consumer market or government as the target customer).</p>
                            <p style="font-size: 16px">The extent to which teams can show the potential and/or specific
                                opportunity for growth and the development of a sustainable business model will also be
                                considered. Whether the solutions are easy to understand and affordable for consumers will also
                                be taken into consideration.</p>
                    </div>
                    <div class="col-xs-12 col-sm-3 portfolio-item" style="text-align: center; padding: 5px">
                        <i class="fa fa-bar-chart fa-3x" aria-hidden="true" style="text-align: center"></i>
                        <h5 style="font-style: italic">Use of Open Data</h5>
                            <p style="font-size: 16px">Projects will be judged on their use of open data, in particular:
                                <ul style="font-size: 16px">
                                    <li style="text-align: left">the extent to which it is incorporated into their product / service; and</li>
                                    <li style="text-align: left">how effectively it is used in the service and whether this is an innovative use of open
                                        data
                                    </li>
                                    <li style="text-align: left">the extent to which new open data sources are generated as a (by)product of their project
                                    </li>
                                </ul>
                            </p>
                            <p style="font-size: 16px">You must also include at least one source of city, provincial or national
                                government open data in your submission.</p>
                    </div>
                    <div class="col-xs-12 col-sm-3 portfolio-item" style="text-align: center; padding: 5px">
                        <i class="fa fa-star fa-3x" aria-hidden="true" style="text-align: center"></i>
                        <h5 style="font-style: italic">Innovation</h5>
                            <p style="font-size: 16px">Projects will be judged on whether they offer something novel in terms of
                                application of data to a new challenge or unmet need within the host city. We are looking for
                                completely new products, technologies, or services or improvements to existing solutions,
                                combining or implementing these in new ways.</p>
                    </div>
            </div>
    </div>
</section>

<!-- Tools Section -->

<section class="alt" id="tools">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>TOOLS AND DATA PORTALS</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 text-" style="text-align: center">
                <p>If you’re interested in city open data and considering participating in the Responsive Cities
                    challenge these local and international examples may inspire you:</p>
                {#
                <ul style="font-size: 19px">#}
                    {#
                    <li class="col-lg-4 text-">Medicine pricing: <a href="https://mpr.code4sa.org">https://mpr.code4sa.org</a>
                    </li>
                    #}
                    {#
                    <li class="col-lg-4 text-">Informal settlement map: <a href=" http://ismaps.org.za/desktop.html">
                        http://ismaps.org.za/desktop.html</a></li>
                    #}
                    {#
                    <li class="col-lg-4 text-">Wazimap: <a href="https://wazimap.co.za">https://wazimap.co.za</a></li>
                    #}
                    {#
                    <li class="col-lg-4 text-">Mamelodi mappers: <a
                            href="http://mamelodimappers.wixsite.com/alaska-fire-project">http://mamelodimappers.wixsite.com/alaska-fire-project</a>
                    </li>
                    #}
                    {#
                    <li class="col-lg-4 text-">GoMetro: <a href="http://gometroapp.com/?transit+index">http://gometroapp.com/?transit+index</a>
                    </li>
                    #}
                    {#
                    <li class="col-lg-4 text-">Phikaya Smart Streets: <a
                            href="http://opendatachallenges.org/get-to-know-the-jobs-open-data-challenge-finalists-pikhaya-smart-streets/">http://opendatachallenges.org/get-to-know-the-jobs-open-data-challenge-finalists-pikhaya-smart-streets/</a>
                    </li>
                    #}
                    {#
                    <li class="col-lg-4 text-">MoveMaker: <a
                            href="http://movemakerapp.co.uk">http://movemakerapp.co.uk</a></li>
                    #}
                    {#
                    <li class="col-lg-4 text-">Bus Start: <a
                            href="http://opendatachallenges.org/get-to-know-the-jobs-open-data-challenge-finalists-bus-start/">http://opendatachallenges.org/get-to-know-the-jobs-open-data-challenge-finalists-bus-start/</a>
                    </li>
                    #}
                    {#
                </ul>
                #}

                <div class="row row-centered">
                    <div class="col-xs-4 col-sm-3 portfolio-item col-centered">
                        <a href="https://mpr.code4sa.org" target="_blank" class="portfolio-link" data-toggle="modal">Medicine Price Registry
                            <img src="/static/img/MPR.png" class="img-responsive" alt="">
                        </a>
                    </div>

                    <div class="col-xs-4 col-sm-3 portfolio-item col-centered">
                        <a href="http://ismaps.org.za/desktop.html" target="_blank" class="portfolio-link"
                           data-toggle="modal">ISMaps
                            <img src="/static/img/ISMAPS.png" class="img-responsive" alt="">
                        </a>
                    </div>

                    <div class="col-xs-4 col-sm-3 portfolio-item col-centered">
                        <a href="https://wazimap.co.za" target="_blank" class="portfolio-link" data-toggle="modal">Wazimap
                            <img src="/static/img/WAZIMAP.png" class="img-responsive" alt="">
                        </a>
                    </div>

                    <div class="col-xs-4 col-sm-3 portfolio-item col-centered">
                        <a href="http://mamelodimappers.wixsite.com/alaska-fire-project" target="_blank"
                           class="portfolio-link" data-toggle="modal">Mamelodi Mappers
                            <img src="/static/img/MAMELODI.png" class="img-responsive" alt="">
                        </a>
                    </div>

                    <div class="col-xs-4 col-sm-3 portfolio-item col-centered">
                        <a href="http://gometroapp.com/?transit+index" target="_blank" class="portfolio-link"
                           data-toggle="modal">GoMetro
                            <img src="/static/img/GOMETRO.png" class="img-responsive" alt="">
                        </a>
                    </div>

                    <div class="col-xs-4 col-sm-3 portfolio-item col-centered">
                        <a href="http://opendatachallenges.org/get-to-know-the-jobs-open-data-challenge-finalists-pikhaya-smart-streets/"
                           target="_blank" class="portfolio-link" data-toggle="modal">Pikhaya
                            <img src="/static/img/PIKHAYA.png" class="img-responsive" alt="">
                        </a>
                    </div>

                    <div class="col-xs-4 col-sm-3 portfolio-item col-centered">
                        <a href="http://movemakerapp.co.uk" target="_blank" class="portfolio-link" data-toggle="modal">MoveMaker
                            <img src="/static/img/MOVEMAKER.png" class="img-responsive" alt="">
                        </a>
                    </div>

                    <div class="col-xs-4 col-sm-3 portfolio-item col-centered">
                        <a href="http://opendatachallenges.org/get-to-know-the-jobs-open-data-challenge-finalists-bus-start/"
                           target="_blank" class="portfolio-link" data-toggle="modal">Bus Start
                            <img src="/static/img/BUSSTART.png" class="img-responsive" alt="">
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <br>
        <div class="text-center">
            <h3 >Other Tools</h3>
            <p>
                <a style="font-style: normal" href="https://hackpad.com/Tools-for-the-Open-Data-Challenge-Series-aCK0hgumz00" target="_blank">
                    The ODI's Hackpad of open data tools</a>
            </p>
        </div>
        <br>
        <div class="text-center">
            <h3>Data Portals</h3>
            <p style="font-style: normal">
                <a href="http://opendata.capetown.gov.za" target="_blank">Cape Town open data portal</a>
            </p>
            <p style="font-style: normal">
                <a href="http://data.code4sa.org" target="_blank">Code for South Africa portal</a>
            </p>
            <p style="font-style: normal">
                <a href="http://ekurhuleni.gov.za/open/" target="_blank">Ekurhuleni open data portal</a>
            </p>
            <p style="font-style: normal">
                <a href="http://interactive.statssa.gov.za:8282/webview/" target="_blank">Statistics South Africa</a>
            </p>
            <p style="font-style: normal">
                <a href="http://www.education.gov.za/Programmes/EMIS/EMISDownloads.aspx" target="_blank">Department of Education EMIS</a>
            </p>
            <p style="font-style: normal">
                <a href="http://www.saps.gov.za/resource_centre/publications/statistics/crimestats/2015/crime_stats.php">SAPS Crime Statistics</a>
            </p>
            <p style="font-style: normal">
                <a href="http://chet.org.za/data/sahe-open-data" target="_blank">Centre for Higher Education Transformation</a>
            </p>
            <p style="font-style: normal">
                <a href="http://municipaldata.treasury.gov.za" target="_blank">Treasury Municipal Budget Data</a>
            </p>
        </div>
    </div>
</section>

<!-- Team Section -->
<section class="success" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Team</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 text-" style="text-align: center">
                <p>Cities across the world are opening up public data and getting entrepreneurs and researchers to help solve social and economic challenges. This helps cities be more responsive to change and increasing demand for services. The inaugural Responsive Cities Challenge is implemented by a network of South African and international partners.</p>
                <br>
                <br>
            </div>
        </div>
        <div class="panel with-nav-pills panel-default">
            <div class="panel-heading">
                <ul class="nav nav-pills">
                    <li class="active"><a href="#tab1partner" data-toggle="pill">Partners</a></li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown">Select <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#tab2partner" data-toggle="pill">Open Government Partnership South Africa</a>
                            </li>
                            <li><a href="#tab3partner" data-toggle="pill">Open Data Institute and Open Data for
                                Development</a></li>
                            <li><a href="#tab4partner" data-toggle="pill">Code for South Africa</a></li>
                            <li><a href="#tab5partner" data-toggle="pill">The Innovation Hub</a></li>
                            <li><a href="#tab6partner" data-toggle="pill">Open Data Durban</a></li>
                            <li><a href="#tab7partner" data-toggle="pill">Geekulcha</a></li>
                            <li><a href="#tab8partner" data-toggle="pill">Centre for Public Service and
                                Administration</a></li>
                            <li><a href="#tab9partner" data-toggle="pill">Department of Public Service and
                                Administration</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content" style="text-align: center">
                    <div class="tab-pane fade in active" id="tab1partner">
                        <p>Partners include OGP SA, Open Data Institute, Open Data for Development, Code for South Africa, The Innovation Hub, Open Data Durban, Geekulcha, Centre for Public Sector Innovation, Codebridge Connect and Department of Public Service and
                                Administration. Select from the list of key partners to learn more about them!</p>
                    </div>
                    <div class="tab-pane fade" id="tab2partner">
                        <p><a href="" target="_blank">Open Government Partnership South Africa</a></p>
                        <p>South Africa was one of the founding members of the Open Government Partnership (OGP) when it
                            was formally launched in 20 September 2011, and has made a number of commitments that seek
                            to build on existing government and citizen-led initiatives related to open government in
                            the country. From the South African perspective, OGP commitments must be aligned to the five
                            year national priorities which are, in turn, linked to the targets identified in the NDP and
                            which are derived from the assessment of South Africa’s achievement of the national vision
                            as stipulated in the Constitution. That is the achievement of a non-racial, non sexist,
                            united, democratic South Africa.</p>
                    </div>
                    <div class="tab-pane fade" id="tab3partner">
                        <p><a href="" target="_blank">Open Data Institute and Open Data for Development</a></p>
                        <p>The Open Data Institute (ODI) was co-founded in 2012 by the inventor of the web Sir Tim
                            Berners-Lee and AI expert Sir Nigel Shadbolt to address today’s global challenges using the
                            web of data. We bring together commercial and non-commercial organisations and governments
                            around specific sectors to address today’s global challenges. Driven by needs, and focused
                            on timely challenges, we help people identify and address how the web of data will impact
                            their businesses and their sectors. Together, we will build a strong data infrastructure
                            that delivers open innovation at web-scale.</p>
                        <p>ODI’s involvement in the Responsive Cities Challenge is enabled by Open Data for Development
                            (OD4D), a program which brings together a network of leading implementing partners who have
                            a wealth of experience in developing countries. Together, they are harnessing open data
                            initiatives to enhance transparency and accountability, and to facilitate public service
                            delivery and citizen participation. The goal of the OD4D program is to scale innovations
                            that are working, and to strengthen coordination among other open data initiatives to ensure
                            they benefit people in developing countries.</p>
                    </div>
                    <div class="tab-pane fade" id="tab4partner">
                        <p><a href="" target="_blank">Code for South Africa</a></p>
                        <p>We love data. We live it, eat it, drink it and dream about it. We believe that data
                            (especially government data) should be open. Not just for personal use. Data should be
                            shareable, mash-able, available for commercial use. Our goal is to promote the release of
                            data under an open data licence to make it available to everyone who wants it.</p>
                    </div>
                    <div class="tab-pane fade" id="tab5partner">
                        <p><a href="" target="_blank">The Innovation Hub</a></p>
                        <p>The Innovation Hub is sub-Saharan Africa's first internationally accredited and leading
                            science and technology park. Established by the Gauteng Provincial Government in 2001, The
                            Innovation Hub has created initiatives that support innovation; enterprise development and
                            development for over 14 years. The targeted sectors are in ICT and advanced manufacturing,
                            green economy and biosciences in order to contribute towards the growth of the economy,
                            creation of decent jobs and poverty reduction in Gauteng. Strategically located in Tshwane,
                            South Africa's executive capital and 'smart' province, The Innovation Hub has become a
                            regional centre of innovation and knowledge creation, linked to the fast moving world of
                            global interconnectivity.</p>
                    </div>
                    <div class="tab-pane fade" id="tab6partner">
                        <p><a href="" target="_blank">Open Data Durban</a></p>
                        <p>Open Data Durban is a civic technology lab that implements and advocates for open data, open
                            government, and civic technology through projects, events, workshops, and dataquests
                            (hackathons for everyone, especially non‐techies). We work with civic society, the media,
                            government and interested and engaged citizens to democratise knowledge and enable informed
                            decision making and evidence‐based planning in all sectors of society.</p>
                    </div>
                    <div class="tab-pane fade" id="tab7partner">
                        <p><a href="" target="_blank">Geekulcha</a></p>
                        <p>Geekulcha is where the young, skilled, creative and ambitious tech minds meet to connect with
                            each other, share knowledge, collaborate on projects, network with industry leaders, obtain
                            training to further improve and enhance their skills and to put that newly acquired skill to
                            work. Established 15 March 2013, our focus is on empowering young geeks through ICT skills
                            development and training while giving them a taste of what awaits them in the big world
                            through industry exposure.</p>
                    </div>
                    <div class="tab-pane fade" id="tab8partner">
                        <p><a href="" target="_blank">Centre for Public Service and Administration</a></p>
                        <p>The Centre for Public Service Innovation (CPSI) was established in 2001 by the Minister for
                            Public Service and Administration. In 2008 it was re-launched as the first Government
                            Component to be established in terms of the Public Service act as amended in 2007. The CPSI
                            is mandated to develop innovative, sustainable and responsive models for improved service
                            delivery. The work of the CPSI is guided by an understanding of innovation in a public
                            sector context as “the creation and implementation of new and service delivery solutions
                            (systems, processes, methods, models, products and services) resulting in significant
                            improvements in outcomes, efficiency, effectiveness and quality”.</p>
                    </div>
                    <div class="tab-pane fade" id="tab9partner">
                        <p><a href="" target="_blank">Department of Public Service and Administration</a></p>
                        <p>The South African Department of Public Service and Administration (DPSA) draws its mandate
                            from Section 195(1) of the Constitution which sets out basic values and principles that the
                            public service should adhere to, and the Public Service Act (PSA) of 1994, as amended. In
                            terms of the PSA, the DPSA is responsible for establishing norms and standards relating to:
                        <ul style="font-size: 16px">
                            <li>The functions of the public service</li>
                            <li>Organisational structures and establishments of departments and other organisational and
                                governance arrangements in the public service
                            </li>
                            <li>Labour relations, conditions of service and other employment practices for employees
                            </li>
                            <li>The Health and wellness of employees; Information management</li>
                            <li>Electronic government in the public service</li>
                            <li>Integrity, ethics, conduct and anti-corruption</li>
                            <li>Transformation, reform, innovation and any other matter to improve the effectiveness and
                                efficiency of the public service and its service delivery to the public
                            </li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <h5>Queries about the challenge? Email us at <a href="mailto:info@responsivecities.org.za">info@responsivecities.org.za</a></h5>
            </div>
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Address</h3>
                    <p>546 Edmond Street<br>Batho Pele House<br>Pretoria<br>0001</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Around the Web</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/OGPZA" target="_blank"
                               class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/OGPSA" target="_blank"
                               class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>About OGP</h3>
                    <p>Web: <a href="http://www.ogp.gov.za/" target="_blank">www.ogp.gov.za</a><br>Email:<a
                            href="mailto:info@ogp.gov.za">info@ogp.gov.za</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <!--<div class="col-lg-12" style="color: #fff">-->
                    <!--Built by <a href="https://opendata.durban" target="_blank">Open Data Durban</a>-->
                    <!--<br>-->
                    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
                <!--</div>-->
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- jQuery -->
<script src="/static/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/static/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="/static/js/classie.js"></script>
<script src="/static/js/cbpAnimatedHeader.js"></script>

<!-- Contact Form JavaScript -->
<script src="/static/js/jqBootstrapValidation.js"></script>
<script src="/static/js/contact_me.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/static/js/freelancer.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/static/js/google-sheet.js"></script>
</body>

</html>
